.timer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer__buttons {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
}

.timer__buttons__button {
  cursor: pointer;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  font-size: 16px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  background-color: rgb(243, 243, 243);
  -webkit-box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.14);
}

.timer__buttons__button:active {
  height: 48px;
}

.timer__buttons__button:hover {
  background-color: rgb(233, 233, 233);
}

.timer__buttons__button:disabled,
.timer__buttons__button[disabled] {
  cursor: not-allowed;
  height: 50px;
  background-color: rgb(240, 240, 240);
}

.timer__inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-bottom: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.timer__inputs__input {
  height: 70px;
  font-family: 'Source Code Pro', monospace;
  font-size: 40px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  text-align: center;
  width: 60px;
}

.timer__inputs__input:disabled,
.timer__inputs__input[readonly] {
  cursor: not-allowed;
  background: none;
  color: black;
}

.timer__inputs__separator {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Source Code Pro', monospace;
}

.timer__control-buttons {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
}

.timer__control-buttons__button {
  cursor: pointer;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  font-size: 16px;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  background-color: rgb(243, 243, 243);
  -webkit-box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 4px 8px -3px rgba(0, 0, 0, 0.14);
}

.timer__control-buttons__button:active {
  height: 48px;
}

.timer__control-buttons__button:hover {
  background-color: rgb(233, 233, 233);
}

.timer__control-buttons__button:disabled,
.timer__control-buttons__button[disabled] {
  cursor: not-allowed;
  height: 50px;
  background-color: rgb(240, 240, 240);
}